body
{
	padding: 40px;
}

.resume-list .dl-horizontal dt 
{
	white-space: normal;
	width: auto;
	color: #8A0808;
	font-weight: bold;
	font-size: 18px;
}

.resume-list .dl-horizontal dd 
{
	margin-left: 5%;
	clear: both;
	margin-bottom: 3px;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	font-weight: bold;
}

#top-menu ul
{
	margin-left: 3%;
}

.update
{
	border: 2px solid #e7e7e7;
	margin-bottom: 15px;
	padding: 4px;
}

.test
{
	background-color: black;

}

.page-footer 
{
  padding-top: 10px;
  margin: 20px 0 30px 0px;
  border-top: 1px solid #eeeeee;
}
