{% extends "main.html" %}
{% block main %}
{% import post_macro as posts %}

{{ debug }}
		<div class="span10">
			<div class="alert alert-info">Welcome to my personal website. The purpose of this site is to share relevant information about myself. Feel free to take a look at my r&#233;sum&#233, and projects I have been involved with, by navigating the menu on the left.</div>
			<h2>Updates</h2><hr />

			{% for update in updates %}
				{{ posts.display_post(update.title, update.date, update.content) }}
			{% endfor %}

			{% include gitfeed ignore missing %}
		</div>
	
{% endblock main %}
