<h2>My Latest Git Activity</h2><hr />
<div id="git-feed">
	<script type="text/javascript" src="http://www.google.com/reader/ui/publisher-en.js"></script>
	<script type="text/javascript" src="http://www.google.com/reader/public/javascript/user%2F12526029285512115473%2Flabel%2FCoding?n=5&callback=GRC_p(%7Bc%3A%22blue%22%2Ct%3A%22%22%2Cs%3A%22true%22%2Cn%3A%22true%22%2Cb%3A%22false%22%7D)%3Bnew%20GRC"></script>
</div>