<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ title }} </title>
		<!-- Don't let search engines crawl, for now at least -->
		<meta name="robots" content="noindex, nofollow">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- Bootstrap and custom css file -->
		<link href="{{ bootstrap }}" rel="stylesheet">
		<link href="{{ custom_css }}" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{ bootstrap_responsive }}" rel="stylesheet">
	</head>
	<body>
		<!-- Load Javascript files  -->
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="http://api.jquery.com/scripts/events.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="{{ custom_js }}"></script>

		<header class="page-header">
			<div class="navbar navbar-fixed-top">  
				<div class="navbar-inner">
					<div id="top-menu" class="container-fluid">  
						<ul class="nav">
							<li class="active">  
								<a class="brand" href="#">{{ page_title }}</a>  
							</li>  
							<li><a href="/">{% if active == "home" %}<strong>Home</strong>{% else %} Home{% endif %}</a></li>  
							<li><a href="/resume">{% if active == "resume" %}<strong>R&#233;sum&#233;</strong>{% else %} R&#233;sum&#233;{% endif %}</a></li>  
							<li><a href="/projects">{% if active == "projects" %}<strong>Projects</strong>{% else %} Projects{% endif %}</a></li>
							<li><a href="/recommended">{% if active == "links" %}<strong>Readings</strong>{% else %} Readings{% endif %}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<!-- The main div that wraps all the content between the header and the footer -->
		<div class="row-fluid">
			<!-- The sidebar with the menu -->
			<div class="container-fluid">
				<div class="span2 bs-docs-sidebar hidden-phone">
					<ul class="nav nav-list main-menu">
						<li class="nav-header">Menu</li>
						<li {% if active == "home" %} class="active"{% endif %}>
							<a href="/">
								<i class="icon-home {% if active == "home" %}icon-white{% else %}icon-black{% endif %}"></i>Home
							</a>
						</li>
						<li {% if active == "resume" %} class="active"{% endif %}>
							<a href="/resume">
								<i class="icon-tasks {% if active == "resume" %}icon-white{% else %}icon-black{% endif %}"></i>R&#233;sum&#233;
							</a>
						</li>
						<li {% if active == "projects" %} class="active"{% endif %}>
							<a href="/projects">
								<i class="icon-briefcase {% if active == "projects" %}icon-white{% else %}icon-black{% endif %}"></i>Projects
							</a>
						</li>
						<li {% if active == "links" %} class="active"{% endif %}>
							<a href="/recommended">
								<i class="icon-thumbs-up {% if active == "links" %}icon-white{% else %}icon-black{% endif %}"></i>Readings
							</a>
						</li>
						<li>
							<a id="how" href="#how">
								<i class="icon-question-sign"></i>How Did I Make This?
							</a>
						</li>
					</ul>
				</div> <!-- End sidebar -->
				{% block main %} {% endblock %}
			</div> <!-- End container-fluid div -->
		</div> <!-- End row-fluid div -->
		<footer class="page-footer">
			<div class="span3">
				<span class="span2"><em>&copy; 2012 John Thorsen</em></span>
			{% if time_last_updated is defined %}
				<span class="span8"><a class="muted" href="https://bitbucket.org/codenaught/jacks-web-app">The Code For The Site Last Updated: {{ time_last_updated }}</a></span>
			{% endif %}
			</div>
			<div class="span12 visible-desktop">
				<span class="span2 alert"><em>Keyboard Navigation</em></span> 
				<span class="span2"><em>h</em> - goto Home</span>
				<span class="span2"><em>p</em> - goto Projects</span>
				<span class="span2"><em>r</em> - goto R&#233;sum&#233;</span><span class="span3"><em>s</em> - goto Stories</span>
			</div>
			{% if logins_enabled %}
			<div class="span14">
				<span class="span10 text-info">{% if logged_in %}You are logged in as <strong>{{ name }}</strong>!{% else %}<a href="{{ login_link }}">Login</a>{% endif %}</span>
			</div>
			{% endif %}
		</footer>
	</body>
</html>
