{% extends "main.html" %}

{% block main %}

<div class="span10">
	<pre>
	Copyright &copy; 2011 John Thorsen. All rights reserved.

	Developed by: John Thorsen
	http://jthor.no-ip.org/
	Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

	Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimers.
	Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimers in the
	documentation and/or other materials provided with the distribution.
	</pre>
</div>

{% endblock %}
