{% extends "main.html" %}

{% block main %}

{% if posted %}
Posted - Title: {{ title }}<br />Content: {{ content }}
{% endif %}

<form action="/admin/post" method="post">
	<input type="text" name="title" />
	<textarea name="content"></textarea>
	<input type="submit" value="Post" name="submit" />

</form>

{% endblock %}
