{% extends "main.html" %}

{% block main %}
			<div class="span10">
				<div class="tabbable">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#smf" data-toggle="tab">SMF</a></li>
						<li><a href="#pointjack" data-toggle="tab">PointJack</a></li>
						<li><a href="#testsuite" data-toggle="tab">TestSuite</a></li>
						<li><a href="#sm-manual" data-toggle="tab">Online Manual</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="smf">
							<p class="lead">
								8 years ago I discovered the <a href="http://simplemachines.org">SMF</a> software and was so impressed with the software and the community behind it that I spent a lot of time with the project.
							</p>
							<div class="tabbable tabs-left tab-pane">
								<ul class="nav nav-tabs nav-pills">
									<li><a href="http://simplemachines.org">Website</a></li>
									<li><a href="https://github.com/SimpleMachines/SMF2.1">Git</a></li>
								</ul>
								<p>
									It may seem like a surprise that when I was just 19, I became one of the three and only partners in the history of Simple Machines L.L.C. But I believe it was because of my loyalty and committment that I put into the project. From managaing the documentation for the project, to offering my opinion over so many things, to just my diehard passion for digging into the code and releasing themes and modification packages to the community for free. My experience with SMF is something that helped define who I am. Currently I have retired from the official team but I offer consultation to the development team. When I have more free time, I may decide to volunteer some of it back to the project in an official capacity again.
								</p>
							</div>
							<hr />
						</div>
						<div class="tab-pane" id="pointjack">
							<p class="lead">
								<a href="https://bitbucket.org/codenaught/pointjack/">PointJack</a> is a card game, implemented as a computer application, where 2 or more people take turns playing cards until one player hits a certain point total.
							</p>
							<div class="tabbable tabs-left">
								<ul class="nav nav-tabs nav-pills">
									<li><a href="https://bitbucket.org/codenaught/pointjack/wiki/Home">Wiki</a></li>
									<li><a href="https://bitbucket.org/codenaught/pointjack/src">Git</a></li>
								</ul>
								<p class="tab-content">
									Invented by me, PointJack is very much a work in progress. The currently implementation of PointJack is a regular Java application using the Java Swing libraries. At the very moment, the code for PointJack has not been made public.
								</p>
							</div>
							<hr />
						</div>
						<div class="tab-pane" id="testsuite">
							<p class="lead">
								<a href="https://github.com/SimpleMachines/TestSuite">TestSuite</a> is a PHP application currently written as an addon to the SMF forum software that can be automatically installed via the SMF package manager.
							</p>
							<div class="tabbable tabs-left">
								<ul class="nav nav-tabs nav-pills">
									<li><a href="https://github.com/SimpleMachines/TestSuite">Git</a></li>
								</ul>
								<p class="tab-content">For those who are not familiar with what a test suite is, please <a href="https://en.wikipedia.org/w/index.php?title=Test_suite&amp;oldid=509101088">refer to the wikipedia article desribing what it achieves</a>.
								</p>
								<p class="tab-content">
									As one of the two main developers, when I first volunteered for the project there were many problems with the code. I refactored a lot of the code myself, creating reusable functions to remove a lot of the duplicate code that was present in the base. A lot of functionality was currently not implemented so I wrote a lot of code to fill in the missing holes.
								</p>
							</div>
							<hr />
						</div>
						<div class="tab-pane" id="sm-manual">
							<p class="lead">
								The most interesting thing about the <a href="http://docs.simplemachines.org/">SMF Online Manual</a> was that it was built ontop of the SMF software itself
							</p>
							<div class="tabbable tabs-left">
								<ul class="nav nav-tabs nav-pills">
									<li><a href="http://docs.simplemachines.org/">Old Site</a></li>
									<li><a href="http://wiki.simplemachines.org/smf/Main_Page">New Site</a></li>
								</ul>
								<p class="tab-content">
									While I was the Doc Coordinator of SMF, I not only maintained the custom code needed so that the online manual could function as a manual, but I also coordinated a team of individuals and together we wrote, updated and managed 100s of documents covering a wide variety of content.
								</p>
								<p class="tab-content">
									The new online manual no longer uses SMF as a base, in favor of using wiki software. The main reason the change was made was because of time and resources in maintaining custom code to support the online manual.
								</p>
							</div>
						</div>
					</div>


				</div>
			</div>
{% endblock %}