{% extends "main.html" %}

{% block main %}

	<div class="span10">
		<h2>Here are some recent things I have been reading</h2><hr />
		<script type="text/javascript" src="http://www.google.com/reader/ui/publisher-en.js"></script>
		<script type="text/javascript" src="http://www.google.com/reader/public/javascript/user/12526029285512115473/state/com.google/starred?n=10&callback=GRC_p(%7Bc%3A%22blue%22%2Ct%3A%22%22%2Cs%3A%22true%22%2Cn%3A%22true%22%2Cb%3A%22false%22%7D)%3Bnew%20GRC"></script>
	</div>

{% endblock %}