{% extends "main.html" %}

{% block main %}
			<div class="span10">
				<div class="tabbable">
					<ul id="res-list" class="nav nav-tabs">
						<li class="active"><a href="#ess" data-toggle="tab">Essential</a></li>
						<li><a href="#exp" data-toggle="tab">Experience</a></li>
						<li><a href="#edu" data-toggle="tab">Education</a></li>
						<li><a href="#projects" data-toggle="tab">Projects</a></li>
						<li><a href="#know" data-toggle="tab">Knowledge</a></li>

					</ul>
					<!--
					<div class="alert alert-info alert-block pull-right span3 clearfix">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<h4 class="alert-heading">Note</h4> You may use the <strong>j</strong> and <strong>k</strong> keys to navigate the filter
					</div>
					-->
					<div class="tab-content">
						<div id="ess" class="active tab-pane resume-list">
							<dl class="dl-horizontal">
								<dt>Name</dt>
									<dd>John David Thorsen</dd>
								<dt>Phone Number</dt>
									<dd>Please Contact For Phone Number</dd>
								<dt>Email</dt>
									<dd>jthorse1@binghamton.edu</dd>
							</dl>
						</div>
						<div id="edu" class="resume-list tab-pane">
							<dl class="dl-horizontal">
								<dt>Binghamton University</dt>
									<dd>May 2012, B.Sc. Computer Science</dd>
								<dt>Ithaca High School</dt>
									<dd>June 2008</dd>
							</dl>
						</div>
						<div id="exp" class="resume-list tab-pane">
							<dl class="dl-horizontal">
								<dt>Partner, Simple Machines LLC.</dt>
									<dd>Oct 24, 2008-May 10, 2011</dd>
								<dt>Document Coord., SMF</dt>
									<dd>Oct 2004-Jan 2010</dd>
							</dl>
						</div>
						<div id="projects" class="resume-list tab-pane">
							<dl class="dl-horizontal">
								<dt>PointJack Card Game</dt>
									<dd>Inventor, Developer</dd>
								<dt>Official SMF Online Manual</dt>
									<dd>Project Coord. and Developer</dd>
								<dt>TestSuite Project</dt>
									<dd>Co-Developer</dd>
							</dl>
						</div>
						<div id="know" class="resume-list tab-pane">
							<dl class="dl-horizontal">
								<dt>Web Development</dt>
									<dd>PHP/CSS/HTML5/Bootstrap/Django/webapp2</dd>
								<dt>JavaScript/DOM</dt>
									<dd>Experience With JQuery, Prototype</dd>
								<dt>SQL/Databases</dt>
									<dd>JDBC Experience</dd>
								<dt>Java</dt>
									<dd>Swing GUI Experience</dd>
								<dt>Haskell/Prolog</dt>
									<dd>Familarity with fundamentals</dd>
								<dt>Python</dt>
									<dd>Extensive Experience and Proficiency</dd>
								<dt>C++/C</dt>
									<dd>Experience with Language and gcc</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
{% endblock %}